*DS_Store*
*deps/*.*o
*/*deps/*.*o
*.o
*.lo
gawk
pgawk
dgawk
igawk
*libs/*
*~
*.cache
*.log
stamp-*
*.dSYM
core
core.*
*.exe
passwd.awk
group.awk
eg.old
pwcat
grcat
*.ps
*.html
*.dv
awkcard.nc
awkcard.tr
gawk.pdf
gawkinet.pdf
awkcard.pdf
gawk.1.pdf
igawk.1.pdf
*.t2d
*.t2p
*.insert-header
remove-potcdate.sed
gawk.*po
*.new.po
fmtspcl.ok
junk
out1
out2
out3
strftime.ok
test1
test2
seq
*.dylib
