# Tell GitHub to ignore when calculating language stats:
aclocal.m4 linguist-generated
configure.scan linguist-generated
install-sh linguist-vendored
Makefile.in linguist-generated
awklib/Makefile.in linguist-generated
doc/Makefile.in linguist-generated
test/Makefile.in linguist-generated

# Gnulib's git-merge-changelog driver:
ChangeLog    merge=cl-merge
